@keyframes vinyl-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Default: no animation at all */
.vinyl {
  animation: none;
}

/* Only enable spinning on laptops+ */
@media (min-width: 1024px) {
  .vinyl {
    animation: vinyl-spin 12s linear infinite;
    animation-play-state: paused;
  }

  .group:hover .vinyl {
    animation-play-state: running;
  }
}
