@keyframes vinyl-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vinyl {
  animation: vinyl-spin 12s linear infinite;
  animation-play-state: paused;
}

.group:hover .vinyl {
  animation-play-state: running;
}

